.footer {
	position: absolute;
	color: white;
	background-color: black;
	bottom: 0;
	left: 225px;												/* leftWidth */
	width: calc(100% - 225px);					/* 100% - leftWidth */
	height: 30px;	
	background: -webkit-linear-gradient(top left, #000 0%, #3f729b 100%);
	background: -o-linear-gradient(top left, #000 0%, #3f729b 100%);
	background: linear-gradient(to right, #3f729b 0%, #000 100%);
}