<nav style="height:50px;" class="navbar bg-inverse navbar-fixed-top topnav">
	<div class="collapse navbar-toggleable-xs clearfix text-center">
		<a href="index.html" style="padding-left:15px;font-size:20px;" class="navbar-brand">Dashboard (2016)</a>
		<select style="float:right;margin-top:10px;margin-left:20px;" (change)="onSelect($event.target.value)" > 
			<option *ngFor="let obj of objArray" [value]="obj.name">{{obj.name}}</option>
		</select>
		<span style="float:right;margin-top:10px;margin-left:15px;">Filter By:</span>
	</div>
</nav>
<!--The United States Federal Agency IT -->