/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$font-size: 50%;
$base-color: #3f729b;

$listitem-font-size: 0.66667rem;
$itemheader-font-size: 0.66667rem;
$gridcolumn-font-size: 0.66667rem;